@model PCPower.Models.Order

@{
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    ViewBag.Title = "PCBuildingForm";
}
<h2>PCBuildingForm</h2>

<div>
    <dl class="dl-horizontal">
        <dd>
            <p> min:</p>
        </dd>
        <dt>
            <input id="min" type="text" />
        </dt>
        
    </dl>
</div>



