@model PCPower.Models.Order

@{
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    ViewBag.Title = "repairForm";
}

<h2>repairForm</h2>



<button>@Html.ActionLink("Order Repair", "Edit")</button>